/* ====================================================================================================
   홈페이지에 렌더링 되는 대표 게시글 스타일링
   ==================================================================================================== */


.notice {
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;

  background: transparent;

  a {
    text-decoration: none;

    color: $gray;

    &:hover {
      text-decoration: none !important;

      color: $blue;
    }
  }

  .archive__title {
    border-bottom: 1px solid $light-gray;

    font-size: $standard-font-size;

    color: $black;
  }
}


.notice__teaser {
  overflow: hidden;
  display: flex;

  width: 100%;

  align-items: center;
  justify-content: center;
  
  aspect-ratio: 4 / 3;

  img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.notice__teaser-placeholder {
  display: block;

  width: 100%;
  height: 100%;
}


.notice__body {
  padding: 0.1rem;
}


.notice__title {
  overflow: hidden;

  margin: 0.25rem 0 0 0;

  font-size: $small-font-size;
  font-weight: $bold;

  white-space: nowrap;
  text-overflow: ellipsis;
}


.notice__grid {
  --columns: var(--columns, 5);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  
  display: grid;
  
  gap: 0.5rem;

  .notice__subtitle {
    overflow: hidden;

    min-height: 1.4em;

    margin: 0 0 0.25rem 0;

    font-size: $x-small-font-size;

    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.4;

    &.is-empty {
      visibility: hidden;
    }
  }
  

  .notice__date {
    margin: 0 0 0.5rem 0;

    font-size: $xx-small-font-size;

    color: $gray;
  }
}