/*
파일(File):
    - _sass/customs/homepage/_recent_posts.scss

목적(Purpose):
    - 블로그의 홈페이지에 렌더링되는 최근 업로드된 게시글 목록의 스타일을 정의한다.

의존성(Dependencies):
    - _includes/customs/homepage/recent_posts.html
*/

.recent-posts {
    .archive__title {
        margin: 3rem 0 0.5rem 0;
        border-bottom: 1px solid $light-gray;
        font-size: $standard-font-size;
        color: $black;
    }
}

.recent-posts__grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.recent-posts__item {
    display: block;
}

.recent-posts__link {
    display: flex;
    gap: 0.5rem;
    align-items: stretch;
    text-decoration: none;
    color: $gray;

    &:hover {
        text-decoration: none !important;
        color: $blue;
    }
}

.recent-posts__teaser {
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 0 0 30%;
    aspect-ratio: 4 / 5;
}

.recent-posts__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.recent-posts__teaser-placeholder {
    display: block;
    width: 100%;
    height: 100%;
}

.recent-posts__body {
    display: flex;
    min-width: 0;
    padding: 0.1rem;
    justify-content: flex-start;
    flex: 1 1 auto;
    flex-direction: column;
}

.recent-posts__grid {
    .recent-posts__title {
        overflow: hidden;
        margin: 0.25rem 0 0.1rem 0;
        font-size: $small-font-size;
        font-weight: $bold;
        line-height: $small-font-size;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .recent-posts__subtitle {
        overflow: hidden;
        min-height: 1.4em;
        margin: 0 0 0.25rem 0;
        font-size: $x-small-font-size;
        line-height: 1.4;  
        white-space: nowrap;
        text-overflow: ellipsis;

        &--empty {
            visibility: hidden;
        }
    }

    .recent-posts__represent {
        overflow: hidden;
        display: -webkit-box;
        margin: 0.1rem 0;
        font-size: $x-small-font-size;
        text-overflow: ellipsis;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        &--empty {
            visibility: hidden;
        }
    }

    .recent-posts__date {
        margin-top: auto;
        font-size: $xx-small-font-size;
        color: $gray;
    }
}