/* ====================================================================================================
   홈페이지의 티저 이미지 스타일링
   ==================================================================================================== */


.page__content {
  .teaser__image {
    display: block;

    width: 100%;
    height: auto;

    margin: 0 0 0.5rem 0 !important;

    &:hover {
      box-shadow: none !important;
    }
  }
}