/*
파일(File):
    - _sass/customs/homepage/_teaser.scss

목적(Purpose):
    - 블로그의 홈페이지에 렌더링되는 티저 이미지의 스타일을 정의한다.

의존성(Dependencies):
    - _includes/customs/homepage/teaser.html
*/

.page__content {
    .teaser__image {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 0 0.5rem 0 !important;  // Minimal Mistakes 테마의 이미지 크기 조절 효과 제거

        &:hover {
            box-shadow: none !important;  // Minimal Mistakes 테마의 이미지 그림자 효과 제거
        }
    }

    .mobile-teaser__image {
        display: block;
        width: 100%;
        height: auto;

        &:hover {
            box-shadow: none !important;
        }
    }

    @media (max-width: 768px) {
        .teaser__image {
            display: none;  // 모바일 환경에서는 PC 환경의 홈페이지 티저 이미지 가림
        }

        * {
            -webkit-tap-highlight-color: transparent;
        }
    }

    .mobile-teaser__link {
        display: none;

        @media (max-width: 768px) {
            display: block;
        }
    }
}