{%- comment -%} ====================================================================================================
파일(File):
  - _includes/customs/archive-single.html

역할(Role):
  - Minimal Mistakes 테마의 archive-single.html을 커스텀합니다.

참고사항(Notes):
  - _includes/customs/posts-taxonomy.html과 함께 사용됩니다.
  - Minimal Mistakes 테마의 기본 posts-taxonomy.html에 import하여 사용됩니다.
================================================================================================= {%- endcomment -%}


{%- if post.header.teaser -%}
  {%- capture teaser -%}{{ post.header.teaser }}{%- endcapture -%}
{%- else -%}
  {%- assign teaser = site.teaser -%}
{%- endif -%}

{%- if post.id -%}
  {%- assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" -%}
{%- else -%}
  {%- assign title = post.title -%}
{%- endif -%}


{%- comment -%} 제목의 길이를 제한합니다. {%- endcomment -%}
{%- assign max_title_length = 50 -%}
{%- if title.size > max_title_length -%}
  {%- assign truncated_title = title | slice: 0, max_title_length | append: "…" -%}
{%- else -%}
  {%- assign truncated_title = title -%}
{%- endif -%}


<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive_item">
    <div class="archive_item-body">
      <span>
        <a class="archive_item-title" href="{{ post.url | relative_url }}" title="{{ title }}">{{ truncated_title }}</a>
      </span>

      <time class="archive_item-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y. %m. %d" }}</time>

      <div class="archive_item-list">
       {%- include customs/posts-taxonomy.html post=post -%}
      </div>
    </div>
  </article>
</div>