{%- comment -%}
    파일: _includes/customs/link_icon_renderer.html

    목적:
        - include.icon의 값이 svg 이미지 파일의 경로이면 해당 svg 이미지를 렌더링합니다.
        - 그 외 형식은 fontawesome 폰트로 렌더링합니다.

    인자(Argument):
        - include.icon: {String} 파일의 경로 또는 fontawesome 아이콘
{%- endcomment -%}



{%- assign icon = include.icon | default: "" | remove: '"' | strip -%}

{%- if icon contains ".svg" or icon contains ".png" -%}
    <img class="link-icon" src="{{ icon | relative_url }}" alt="" aria-hidden="true">
{%- else -%}
    <i class="{{ icon | default: 'fas fa-link' }}" aria-hidden="true"></i>
{%- endif -%}