{%- comment -%} ====================================================================================================
파일(File):
  - _includes/customs/post_pagination.html

역할(Role):
  - 게시글 하단에 나타나는 페이지네이션이 같은 카테고리 내에서만 이동하는 기능을 구현합니다.

인자(Argument):
  - include.category(문자열): 페이지네이션이 탐색할 카테고리

참고사항(Notes):
  - Minimal Mistakes 테마의 single.html에 import하여 사용됩니다.
================================================================================================= {%- endcomment -%}


{%- comment -%} 탐색할 카테고리 설정 {%- endcomment -%}
{%- assign category = include.category | default: (page.categories | first) -%}

{%- if category -%}
  {%- assign posts = site.categories[category] | reverse -%}
{%- else -%}
  {%- assign posts = site.posts | reverse -%}
{%- endif -%}


{%- assign previous_post = nil -%}
{%- assign next_post = nil -%}


{%- for post in posts -%}
  {%- if post.url == page.url -%}
    {%- assign previous_index = forloop.index0 | minus: 1 -%}
    {%- assign next_index = forloop.index0 | plus: 1 -%}

    {%- if previous_index >= 0 -%}
      {%- assign previous_post = posts[previous_index] -%}
    {%- endif -%}

    {%- if next_index < posts.size -%}
      {%- assign next_post = posts[next_index] -%}
    {%- endif -%}

    {%- break -%}

  {%- endif -%}
{%- endfor -%}


{%- if previous_post or next_post -%}
  <nav class="milestone" aria-label="Post navigation within category">
    {%- if previous_post -%}
      <a class="junction" href="{{ previous_post.url | relative_url }}">
        <span class="milepost">이전 글&nbsp;</span>{{ previous_post.title }}
      </a>
    {%- else -%}
      <span class="junction disabled" aria-disabled="true">첫 번째 게시글입니다.</span>
    {%- endif -%}

    {%- if next_post -%}
      <a class="junction" href="{{ next_post.url | relative_url }}">
        <span class="milepost">다음 글&nbsp;</span>{{ next_post.title }}
      </a>
    {%- else -%}
      <span class="junction disabled" aria-disabled="true">마지막 게시글입니다.</span>
    {%- endif -%}
  </nav>
{%- endif -%}