{%- comment -%} ====================================================================================================
파일(File):
  - _includes/customs/sidebar.html

역할(Role):
  - 사이드바에 네비게이션 메뉴를 추가합니다.

참고사항(Notes):
  - Minimal Mistakes 테마의 `sidebar.html`에 import하여 사용됩니다.
================================================================================================= {%- endcomment -%}


{%- assign total_posts = site.posts | size -%}
{%- assign configuration = site.data.sidebar -%}
{%- assign sidebar = configuration.sidebar -%}
{%- assign current_url = page.url | relative_url | replace: "index.html", "" | replace: ".html", "" | append: "/" | replace: "//", "/" -%}


{%- if sidebar -%}
<nav class="nav__list">
  <input id="custom_sidebar" name="custom_sidebar" type="checkbox"/>

  <label for="custom_sidebar">
    {{ sidebar.menu_label | default: site.data.ui-text[site.locale].menu_label | default: "Menu" }}
  </label>

  <ul class="nav__items" id="category_tag_menu">
    {%- comment -%} display_total_posts_counts를 true로 설정하면 전체 게시글 수를 노출합니다. {%- endcomment -%}
    {%- if configuration.display_total_posts_counts != false -%}
      <li>전체 게시글 수 [{{ total_posts }}]</li>
    {%- endif -%}

    {%- for menu in sidebar -%}
      <li>
        <span class="nav__sub-title">{{ menu.title }}</span>

        <ul>
          {%- for children in menu.children -%}
            {%- assign count = 0 -%}
            {%- assign display_posts_count = true -%}

            {%- comment -%} "프롤로그", "카테고리", "태그" 메뉴는 게시글 개수를 노출하지 않습니다. {%- endcomment -%}
            {%- if children.title == "프롤로그" or children.title == "카테고리" or children.title == "태그" -%}
              {%- assign display_posts_count = false -%}
            {%- else -%}
              {%- assign posts = site.categories[children.title] -%}
              {%- if posts -%}
                {%- assign count = posts | size -%}
              {%- endif -%}
            {%- endif -%}

            {%- assign children_url = children.url | relative_url | replace: "index.html", "" | replace: ".html", "" | append: "/" | replace: "//", "/" -%}
            {%- assign is_active = false -%}

            {%- comment -%} 강조 효과를 적용하기 위해 현재 페이지 URL과 자식 메뉴의 URL이 일치하는지 확인합니다. {%- endcomment -%}
            {%- if children_url == current_url -%}
              {%- assign is_active = true -%}
            {%- endif -%}

            {%- if page.categories and page.categories contains children.title -%}
            {%- assign is_active = true -%}
            {%- endif -%}

            {%- if display_posts_count -%}
              <li>
                <a class="{% if is_active %}active{% endif %}" href="{{ children.url | relative_url }}">{{ children.title }} [{{ count }}]</a>
              </li>
            {%- else -%}
              <li>
                <a class="{% if is_active %}active{% endif %}" href="{{ children.url | relative_url }}">{{ children.title }}</a>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
    {%- endfor -%}
  </ul>
</nav>
{%- endif -%}