{%- comment -%} ====================================================================================================
파일(File):
  - _includes/customs/home/notice.html

역할(Role):
  - 블로그 홈페이지에 대표 게시글을 렌더링합니다.

인자(Arguments):
  - (선택사항) columns(정수형): 한 줄에 렌더링하고 싶은 대표 게시글의 개수 (기본값: 5)
  - (선택사항) limit(정수형): 렌더링하고 싶은 대표 게시글의 최대 개수 (기본값: 15)

참고사항(Notes):
  - 대표 게시글은 프론트매터(Frontmatter)에 "notice: true"를 포함해야 합니다.
================================================================================================= {%- endcomment -%}


{%- assign columns = include.columns | default: 5 -%}
{%- assign limit = incude.limit | default: 15 -%}

{%- comment -%} 프론트매터(Frontmatter)에 "notice: true"가 명시된 게시글 필터링 {%- endcomment -%}
{%- assign notice = site.posts | where: "notice", true | slice: 0, limit -%}


{%- if notice.size > 0 -%}
<section class="notice">
  <h2 class="archive__title">대표 게시글</h2>

  <div class="notice__grid" style="--columns: {{ columns }};">
    {%- for post in notice -%}
      <div class="notice__item">
        <a class="notice__link" href="{{ post.url | relative_url }}">
          <div class="notice__teaser">
            {%- if post.header.teaser -%}
              <img src="{{ post.header.teaser | relative_url }}" alt="{{ post.title }}">
            {%- else -%}
              {%- comment -%} 티저 이미지를 지정하지 않아도 레이아웃이 유지되도록 빈 공간을 렌더링합니다. {%- endcomment -%}
              <span class="notice__teaser-placeholder" aria-hidden="true"></span>
            {%- endif -%}
          </div>

          <div class="notice__body">
            <h3 class="notice__title">{{ post.title }}</h3>

            {%- comment -%} excerpt를 명시하지 않는 경우 게시글의 일부를 발췌하기 때문에 이를 대체하는 커스텀 속성 subtitle을 사용합니다. {%- endcomment -%}
            {%- if post.subtitle -%}
              <p class="notice__subtitle">{{ post.subtitle | escape_once }}</p>
            {%- else -%}
              {%- comment -%} subtitle을 명시하지 않아도 레이아웃이 유지되도록 빈 줄을 렌더링합니다. {%- endcomment -%}
              <p class="notice__subtitle is-empty" aria-hidden="true">&nbsp;</p>
            {%- endif -%}

            <p class="notice__date">{{ post.date | date: "%Y. %m. %d" }}</p>
          </div>
        </a>
      </div>
    {%- endfor -%}
  </div>
</section>
{%- endif -%}