---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "customs/fonts";  // 폰트(Fonts) 추가
@import "customs/variables";  // Minimal Mistakes 테마 변수 재정의 및 커스텀 변수 추가

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "customs/masthead";  // 상단 네비게이션 바 스타일링

@import "customs/homepage/teaser";  // 홈페이지의 티저 이미지 스타일링

@import "customs/links-icon";  // 프로필(Author Profile) 및 푸터(Footer) 내 링크 아이콘 스타일링