/* ====================================================================================================
   커스텀 스킨
   ==================================================================================================== */

$background-color: #F5F5F5;
$text-color: #0F0F0F;
$muted-text-color: #808080;
$primary-color: #1338BE;
$border-color: #C0C0C0;
$footer-background-color: #DFDFDF;
$link-color: #393E46;
$masthead-link-color: $text-color;
$masthead-link-color-hover: $text-color;
$navicon-link-color-hover: #CFCFCF;

.page__footer {
  color: #41424C !important;
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
