/*
파일(File):
    - _sass/customs/posts/_seperator.scss

목적(Purpose):
    - 게시글 내 구분선의 스타일을 정의합니다.
*/

.page__inner-wrap {
    .page__content {
        hr {
            margin: 1.5rem 0;
        }

        .vertical {
            display: block;
            width: 2px;
            height: 3rem;
            margin: 1rem auto;
            background: $gray;
            opacity: 0.75;
        }
    }
}