/* ====================================================================================================
   Home Main Image Customization
   ==================================================================================================== */


   
/* 홈페이지의 메인 이미지의 크기를 조절합니다. */
.home__image {
   width: 100%;
   height: auto;
   display: block;
   margin: 0 0 0.5rem 0 !important;

   // 마우스를 올렸을 때 나타나는 그림자 효과를 제거합니다.
   &:hover {
      box-shadow: none !important;
   }
}



/* ====================================================================================================
   End of Home Main Image Customization
   ==================================================================================================== */