/* ====================================================================================================
   Bulletin Layout Customization
   ==================================================================================================== */



/*
   Common Bulletin Layout Settings
   ==================================================================================================== */

.bulletin {
    --teaser_ratio: var(--teaser-image-ratio, 4 / 5);


    /* 링크의 기본 UX를 설정합니다. */
    a {
        color: $gray;
        text-decoration: none;

        // 마우스를 올리면 나타나는 변화를 설정합니다.
        &:hover {
            color: $blue;
            text-decoration: none;
        }
    }


    /* 레이아웃을 변경하는 버튼을 정렬합니다. */
    .bulletin__button {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;
        align-items: center;
        margin: 0.75rem 0;
    }


    /* 레이아웃을 변경하는 버튼을 스타일링합니다. */
    .bulletin__button-body {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding: 0.25rem;

        border-radius: 0.5rem;
        border: 1px solid $extra-light-gray;
        background: transparent;

        cursor: pointer;

        // 클릭 시 나타나는 불필요한 강조효과를 제거합니다.
        &:focus {
            outline: none;
            box-shadow: none;
        }

        &.focus-visible {
            outline: 1px solid $blue;
            outline-offset: 1px;
        }
    }


    /* 레이아웃 변경 버튼 내 아이콘의 크기를 조절합니다. */
    .bulletin__layout-icon {
        width: 1rem;
        height: 1rem;
        display: block;
    }


    /* 선택된 버튼의 강조효과를 설정합니다. */
    .bulletin__button-body[aria-pressed="true"] {
        border-color: $blue;

        .bulletin__layout-icon {
            color: $blue;
        }
    }


    /* 게시글 레이아웃을 설정합니다. */
    .bulletin__layout {
        width: 100%;
    }


    /* 게시글 간 구분선을 추가합니다. */
    .bulletin-item {
        padding: 1rem 0;
        border-bottom: 1px solid $extra-light-gray;
    }


    /* 게시글 블럭 구성 요소 간의 간격을 조절합니다. */
    .bulletin-item__link {
        display: flex;
        gap: 0.5rem;
        align-items: stretch;

        width: 100%;
    }


    /* 티저 이미지의 크기와 위치를 조절합니다. */
    .bulletin-item__teaser {
        aspect-ratio: var(--teaser_ratio);
        flex-shrink: 0;

        // 가운데 정렬을 수행합니다.
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
    }


    /* 티저 이미지 전체가 노출되도록 설정합니다. */
    .bulletin-item__teaser img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }


    /* 티저 이미지가 없는 경우 생성되는 빈공간의 크기를 설정합니다. */
    .bulletin-item__teaser-placeholder {
        width: 100%;
        height: 100%;
        display: block;
    }


    /* 제목, 부제목 그리고 날짜를 정렬합니다. */
    .bulletin-item__body {
        display: flex;
        flex-direction: column;
        padding: 0.1rem;

        // flex-box의 최소 너비를 보정할 수 있게 설정합니다. (길이가 길어지면 가려지도록 허락합니다.)
        min-width: 0;
    }


    /* 게시글 제목의 렌더링 스타일을 정의합니다. */
    .bulletin-item__title {
        // 제목의 상단과 하단에 여백을 추가합니다.
        margin: 0.1rem 0;

        // 제목의 폰트 크기와 두께를 조절합니다.
        font-size: $small-font-size;
        font-weight: $bold;
        line-height: 1.4;

        // 제목이 표시되는 길이를 1줄로 제한합니다.
        white-space: nowrap;
        // 제목이 길어 넘치는 부분은 숨깁니다.
        overflow: hidden;
        // 제목이 길어 넘쳐 숨겨지는 부분을 "..."으로 표시합니다.
        text-overflow: ellipsis;
    }


    /* 게시글 부제목의 렌더링 스타일을 정의합니다. */
    .bulletin-item__subtitle {
        // 부제목 하단에 여백을 추가합니다.
        margin: 0 0 0.25rem;

        // 폰트 크기와 색상을 설정합니다.
        font-size: $x-small-font-size;

        // 부제목이 표시되는 길이를 1줄로 제한합니다.
        white-space: nowrap;
        // 부제목이 길어 넘치는 부분은 숨깁니다.
        overflow: hidden;
        // 부제목이 길어 넘쳐 숨겨지는 부분을 "..."으로 표시합니다.
        text-overflow: ellipsis;

        // 부제목이 없는 경우 부제목이 렌더링되는 공간을 숨깁니다.
        &.is-empty {
            visibility: hidden;
        }
    }


    /* 게시글 대표 문장의 렌더링 스타일을 정의합니다. */
    .bulletin-item__represent {
        // 대표 문장의 상단과 하단에 여백을 추가합니다.
        margin: 0.1rem 0;

        // 폰트 크기와 색상을 설정합니다.
        font-size: $x-small-font-size;

        // 대표 문장이 3줄로 렌더링되게 설정합니다.
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        // 대표 문장이 길어 넘치는 부분은 숨깁니다.
        overflow: hidden;
        // 대표 문장이 넘쳐 숨겨지는 부분을 "..."으로 표시합니다.
        text-overflow: ellipsis;

        // 대표 문장이 없는 경우 대표 문장이 렌더링되는 공간을 숨깁니다.
        &.is-empty {
            visibility: hidden;
        }
    }


    /* 게시글 작성 날짜의 렌더링 스타일을 정의합니다. */
    .bulletin-item__date {
        // 작성 날짜가 자동으로 게시글 노출 블럭 하단에 렌더링되게 설정합니다.
        display: block;
        margin-top: auto;

        // 폰트 크기와 색상을 설정합니다.
        font-size: $xx-small-font-size;
    }
}



/*
   Bulletin Layout - Card Type Settings
   ==================================================================================================== */

.bulletin--card {
    .bulletin__layout {
        display: flex;
        flex-direction: column;
    }

    .bulletin-item__teaser {
        width: 15%;
    }
}



/*
   Bulletin Layout - Gallery Type Settings
   ==================================================================================================== */

.bulletin--gallery {
    .bulletin__layout {
        display: grid;
        grid-template-columns: repeat(var(--columns, 5), minmax(0, 1fr));
        
        gap: 0.5rem;
        
        margin-bottom: 3rem;
        border-bottom: none;
    }

    .bulletin-item {
        border-bottom: none;
        padding-bottom: 0;
    }

    .bulletin-item__link {
        display: block;
    }

    .bulletin-item__teaser {
        width: 100%;
    }

    .bulletin-item__body {
        padding-top: 0.1rem;
    }

    .bulletin-item__subtitle {
        margin: 0 0 0.25rem 0;
    }

    .bulletin-item__represent {
        display: none;
    }

    .bulletin-item__date {
        margin: 0 0 0.25rem 0;
    }
}



/*
   Bulletin Layout - List Type Settings
   ==================================================================================================== */

.bulletin--list {
    .bulletin__layout {
        display: flex;
        flex-direction: column;
    }

    .bulletin-item {
        padding: 0.5rem 0;
    }

    .bulletin-item__link {
        display: flex;
        gap: 0.75rem;
        justify-content: space-between;
    }

    .bulletin-item__teaser {
        display: none;
    }

    .bulletin-item__body {
        flex: 1 1 auto;
        min-width: 0;
    }

    .bulletin-item__meta{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        gap: 1rem;
        min-width: 0;
    }

    .bulletin-item__subtitle {
        flex: 1 1 auto;
        
        margin: 0;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.is-empty {
            visibility: hidden;
        }
    }

    .bulletin-item__represent {
        display: none;
    }

    .bulletin-item__date {
        flex: 0 0 auto;

        margin: 0;
        white-space: nowrap;
    }
}



/* ====================================================================================================
    END OF BULLETIN LAYOUT CUSTOMIZATION
   ==================================================================================================== */