/* ====================================================================================================
   Tree Sitter 구문 강조기 (Syntax Highlighter) 코드블럭 스타일링
   ==================================================================================================== */


/*
   코드블럭 스타일링
   ==================================================================================================== */

/* 코드블럭을 Visual Studio Code와 유사하게 스타일링 */
.highlighter-tree-sitter {
  position: relative;

  margin-bottom: 1rem;
  border-radius: 0.25rem;

  background: $--vscode-editor-background;

  font-family: $monospace;
  font-size: $x-small-font-size;
  line-height: 1.5;

  color: $--vscode-editor-foreground;

  [dir=rtl] & {
    text-align: start;
    
    direction: ltr;
  }

  > pre {
    overflow: auto;

    margin: 0rem;
    padding: 0.5rem;
  }

  pre code {
    display: block;
    
    white-space: pre;
  }
}



/*
   구문 강조 색상
   ==================================================================================================== */

.highlighter-tree-sitter {
  .ts-attribute {
    color: $--vscode-editor-attributes;
  }

  .ts-comment {
    color: $--vscode-editor-comment;
  }

  .ts-constant,
  .ts-constant-builtin {
    color: $--vscode-editor-constant;
  }

  .ts-function,
  .ts-function-builtin {
    color: $--vscode-editor-function;
  }

  .ts-keyword {
    color: $--vscode-editor-keyword;
  }

  .ts-operator {
    color: $--vscode-editor-operator;
  }

  .ts-property {
    color: $--vscode-editor-property;
  }

  .ts-string {
    color: $--vscode-editor-string;
  }

  .ts-string-special-symbol {
    color: $--vscode-editor-function;
  }

  .ts-tag {
    color: $--vscode-editor-tag;
  }

  .ts-type, 
  .ts-type-builtin {
    color: $--vscode-editor-type;
  }

  .ts-variable,
  .ts-variable-parameter {
    color: $--vscode-editor-variable;
  }

  .ts-variable-builtin {
    color: $--vscode-editor-variable-builtin;
  }

  .ts-constructor,
  .ts-module {
    color: $--vscode-editor-module;
  }

  .ts-punctuation-bracket {
    color: $--vscode-editor-punctuation-bracket;
  }

  .ts-punctuation-delimeter {
    color: $--vscode-editor-punctuation-delimeter;
  }

  .ts-punctuation-special {
    color: $--vscode-editor-punctuation-special;
  }

  .ts-error {
    color: $--vscode-editor-error;
  }

  .ts-number {
    color: $--vscode-editor-number;
  }
}



/*
   무지개 괄호 강조 효과 색상
   ==================================================================================================== */

.highlighter-tree-sitter {
  .bracket {
    font-weight: inherit;
  }

  .bracket-depth-1 {
    color: $--bracket-depth-1;
  }

  .bracket-depth-2 {
    color: $--bracket-depth-2;
  }
    
  .bracket-depth-3 {
    color: $--bracket-depth-3;
  }

  .bracket-depth-4 {
    color: $--bracket-depth-4;
  }

  .bracket-depth-5 {
    color: $--bracket-depth-5;
  }

  .bracket-depth-6 {
    color: $--bracket-depth-6;
  }

  .bracket-depth-7 {
    color: $--bracket-depth-7;
  }

  .bracket-depth-8 {
    color: $--bracket-depth-8;
  }

  .bracket-mismatch {
    text-decoration: underline wavy $--vscode-editor-error;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;

    color: $--vscode-editor-error;
  }
}



/*
   메타데이터 상단바 스타일링
   ==================================================================================================== */

.highlighter-tree-sitter {
  .codeblock-masthead {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;

    border-radius: 0.25rem;
    // border-bottom: 1px solid $gray;

    background: $--vscode-editor-background;

    font-family: $sans-serif;
    font-size: $x-small-font-size;
  }


  .codeblock-masthead__language {
    font-weight: $semibold;
  }


  .codeblock-masthead__filename {
    margin: 0 0 0 0.5rem;
  }
}



/*
   코드 줄 번호 스타일링
   ==================================================================================================== */

/* 코드 행 번호를 표시하는 공간의 스타일을 정의합니다. */
.highlighter-tree-sitter > .codeblock__body {
  display: grid;
  grid-template-columns: auto 1fr;

  // 코드 행 번호를 표시하는 공간의 기본 스타일을 정의합니다.
  .gutter {
    background: $--vscode-editor-background;
    color: $--vscode-editor-line-numbers;

    padding: 0rem 0.5rem 0.75rem 0.75rem;

    border-radius: 0.5rem;
    // border-right: 1px solid $--vscode-editor-line-numbers;

    text-align: right;
    
    // 코드와 행별 높이를 일치시킵니다.
    > span {
      display: block;
      line-height: inherit;
      }
  }

  // 코드와 공간을 일치시킵니다.
  > pre {
    margin: 0rem;
    padding: 0rem 0.75rem 0.75rem 0.5rem;
  }
}



/*
   코드 복사 버튼 스타일링
   ==================================================================================================== */

.codeblock-copy_button {
    display: inline-flex;
    align-items: center;

    padding: 0.1rem 0.25rem;
    gap: 0.25rem;

    // border: 1px solid $gray;
    border: none;
    border-radius: 0.25rem;

    background: inherit;

    font-family: $sans-serif;
    font-size: $x-small-font-size;

    color: $--vscode-editor-widget-foreground;

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 1px solid $primary-color;
    }

    .codeblock-copy_button_icon {
        display: inline-block;

        width: 14px;
        height: 14px;
    }
}



/*
   떠있는 코드 복사 버튼 스타일링
   ==================================================================================================== */

.codeblock-copy--floating {
  display: none;
  position: fixed;
  
  .codeblock-copy_button {
    display: inline-flex;
    align-items: center;

    padding: 0.15rem 0.3rem;
    gap: 0.25rem;

    border: 1px solid $gray;
    border-radius: 0.25rem;

    background: $--vscode-editor-widget;
  }

  .codeblock-copy_button:focus{
    outline: none;
  }

  .codeblock-copy_button:focus-visible {
    outline: 1px solid $primary-color;
  }
}