/* ====================================================================================================
   Footer Customized Social Icon Customization
   ==================================================================================================== */



/* 링크 아이콘의 크기와 위치를 조절합니다. */
.link-icon {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    vertical-align: -0.1rem;
}


/* Footer 내 링크 아이콘의 여백을 조절합니다. */
.page__footer{
    .link-icon {
        display: inline-block;
        width: 0.7rem;
        height: 0.7rem;
        vertical-align: -0.1rem;
        margin-right: 0.25rem;
    }

    // Footer 내 링크가 대문자로 표시되지 않게 설정합니다.
    li {
        text-transform: none;
    }
}



/* ====================================================================================================
   End of Footer Customized Social Icon Customization
   ==================================================================================================== */