/* ====================================================================================================
   프로필(Author Profile) 및 푸터(Footer) 내 링크 아이콘 스타일링
   ================================================================================================= */


/* Author Profile */
.sidebar {
  .links-icon {
    display: inline-block;

    width: 0.7rem;
    height: 0.7rem;

    vertical-align: -0.1rem;
  }
}


/* Footer */
.page__footer{
  .links-icon {
    display: inline-block;

    width: 0.7rem;
    height: 0.7rem;

    margin-right: 0.25rem;
    
    vertical-align: -0.1rem;
  }

  // 링크명이 대문자로 표시되는 것을 방지합니다.
  li {
    text-transform: none;
  }
}