/* ====================================================================================================
    Masthead Customization
    ==================================================================================================== */



/*
   Masthead Common Design Customization
   ==================================================================================================== */

/* 상단 메뉴바의 기본 스타일을 설정합니다. */
.masthead {
    // 상단 메뉴바를 화면 상단에 고정합니다.
    position: sticky;
    background-color: $background-color;

    // 상단 메뉴바의 상단 및 하단 공간을 조절합니다.
    top: 0;
    padding: 0.3rem 0;

    // 상단 메뉴바의 내부 여백을 조절합니다.
    .masthead__inner-wrap {
        padding: 0;
    }
}


/* 상단 메뉴바의 메뉴를 스타일링합니다. */
.greedy-nav {
    // 사이트 타이틀의 크기를 조절합니다.
    .site-title {
        padding: 0.5rem 0;
    }


    // 메뉴의 크기를 조절합니다.
    a {
        // 메뉴의 간격을 조절합니다.
        padding: 0.4rem 0;  // 상단 및 하단
        margin: 0 0.5rem;  // 메뉴 사이의 간격

        // 메뉴의 글꼴 크기 및 두께를 조절합니다.
        font-size: 0.8rem;
        font-weight: normal;

        // 메뉴의 글꼴 색상을 조절합니다.
        color: $black;
        text-decoration: none;

        // 메뉴와 하이라이터(메뉴에 마우스 올리면 나타나는 선) 사이의 간격을 조절합니다.
        line-height: 1;

        // 메뉴에 마우스를 올렸을 때의 효과를 설정합니다.
        &:hover {
            color: $black;
        }
    }


    // 메뉴의 하이라이터(마우스를 올리면 나타나는 선)의 두께를 조절합니다.
    .visible-links a:before {
        height: 3px;  // default: 4px 
    }
}



/* ====================================================================================================
    End of Masthead Customization
    ==================================================================================================== */