/* ====================================================================================================
   상단 네비게이션 바 스타일링
   ==================================================================================================== */


/* 상단 네비게이션 바 기본 스타일 정의 */
.masthead {
  // 카테고리 아카이브 페이지의 접근성을 향상시키기 위해 sticky 속성을 적용하였습니다.
  position: sticky;
  top: 0;

  padding: 0.3rem 0;

  background-color: $background-color;

  .masthead__inner-wrap {
    padding: 0;
  }
}


/* 상단 네비게이션 바 내부 네비게이션 메뉴 스타일 정의 */
.greedy-nav {
  .site-title {
    padding: 0.5rem 0;
  }

  a {
    padding: 0.4rem 0;
    margin: 0 0.5rem;

    font-size: $small-font-size;
    font-weight: normal;
    line-height: 1;

    color: $black;    

    text-decoration: none;

    &:hover {
      color: $black;
    }
  }

  .visible-links a:before {
    height: 2px;  // default: 4px 
  }
}