/*
파일(File):
    - _sass/customs/_masthead.scss

목적(Purpose):
    - 상단 네비게이션 바 및 드롭다운 메뉴의 스타일을 정의한다.

의존성(Dependencies):
    - _includes/customs/_masthead.html
*/

.masthead {
    position: sticky;
    top: 0;
    padding: 0.3rem 0;
    background-color: $background-color;

    .masthead__inner-wrap {
        padding: 0;
    }
}

.greedy-nav {
    overflow: visible;  // 드롭다운 메뉴가 가려지지 않게 설정

    .site-logo, .site-title {
        padding: 0.5rem 0.5rem;
        margin: 0 0.5rem;
        font-size: $small-font-size;
        font-weight: normal;
        line-height: 1;
        color: $black;
        text-decoration: none;

        &:hover {
          color: $black;
        }
    }

    .visible-links {
        overflow: visible;

        a:before {
            height: 2px;  // default: 4px
        }
    }
}

.dropdown {
    position: relative;  // 드롭다운 메뉴가 상위 메뉴 하단에 나타날 수 있게 기준점 설정

    &:hover {
        .dropdown__menu {
            display: block;
        }
    }

    .dropdown__menu {
        display: none;
        position: absolute;  // 드롭다운 메뉴별 등장 위치 고정
        top: calc(100% + 0.25rem);
        min-width: 10rem;
        padding: 0.25rem 0;
        margin: 0;
        border: 1px solid $light-gray;
        border-radius: 0.25rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        background: $white;

        &::before {
            position: absolute;
            top: -0.5rem;
            left: 0;
            right: 0;
            height: 0.5rem;
            content: "";
        }
    }

    .dropdown__toggle {
        padding: 0 0.25rem;
        margin: 0 0.25rem;
        border: none;
        background: transparent;
        font-family: $navigation-font-family;
        font-size: $small-font-size;

        &:focus {
            outline: none;
        }
    }
}


.dropdown__item {
    display: block;
    padding: 0.25rem 0;
    white-space: nowrap;
}

.dropdown__item-title {
    padding: 0 0.1rem;
    font-size: $small-font-size;
}