/* ====================================================================================================
   게시글 하단 카테고리, 태그, 날짜 메타데이터 스타일링
   ==================================================================================================== */


.page-taxonomy {
  margin-top: 1rem;

  font-size: $x-small-font-size;

  color: $gray;
}


.page-taxonomy__body {
  display: flex;
  align-items: baseline;

  margin: 0.5rem 0;
  gap: 0.25rem;
}


.page-taxonomy__label {
  white-space: nowrap;
}


/* Taxonomy 정렬 */
.page-taxonomy__tokens {
  display: flex;
  align-items: center;
    
  gap: 0.25rem;

  flex-wrap: wrap;
}


/* 캡슐 스타일링 */
.page-taxonomy__token {
  padding: 0.1rem 0.5rem;

  border: 1px solid $light-gray;
  border-radius: 999px;
  
  font-size: $x-small-font-size;
  
  text-decoration: none;
  line-height: 1.2;

  color: $gray;
}


.page-taxonomy__token--category {
  font-weight: $semibold;

  &:hover {
    border-color: $blue;
    
    font-weight: $bold;
        
    color: $blue;
  }
}


.page-taxonomy__token--tag {
  font-weight: $regular;

  &:hover {
    border-color: $black;

    font-weight: $bold;
        
    color: $black;
  }
}


.page-taxonomy__date {
  margin-top: 0.5rem;

  font-size: $x-small-font-size;
}