/* ====================================================================================================
    Pagination UI Customization
   ==================================================================================================== */



/* 페이지네이션의 요소들을 정렬합니다. */
.pagination__customized {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}


/* 페이지네이션 버튼 간 간격을 조절합니다. */
.pagination__list {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none;
}


/* 페이지 버튼을 스타일링합니다. */
.pagination__link {
    box-sizing: border-box;
    position: relative;

    // 버튼 내 요소를 가운데 정렬합니다.
    display: inline-flex;
    align-items: center;  // 세로축 가운데 정렬
    justify-content: center;  // 가로축 가운데 정렬

    // 버튼의 크기를 조절합니다.
    min-width: 30px;
    height: 28px;
    padding: 0 0.5rem;

    // 테두리를 설정합니다.
    border: 1px solid transparent;
    border-radius: 0.25rem;

    // 폰트의 크기와 색상을 조절합니다.
    font-size: $xx-small-font-size;
    font-weight: $regular;
    line-height: 1;

    color: $light-gray;

    text-align: center;
    text-decoration: none;
}


/* 선택된 버튼에 강조효과를 적용합니다. */
.pagination__item.is-selected > .pagination__link {
    border-color: $blue;
    color: $blue;
    font-weight: $bold;
}


/* 비활성화된 버튼을 스타일링합니다. */
.pagination__item.is-disabled > .pagination__link {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}


/* 화살표 버튼만 아이콘처럼 스타일링합니다. */
.pagination__item--first .pagination__link,
.pagination__item--previous .pagination__link,
.pagination__item--next .pagination__link,
.pagination__item--last .pagination__link {
    width: 28px;
    height: 28px;
    padding: 0;

    font-size: $standard-font-size;
    font-weight: $thin;
}


/* 페이지 버튼에 밑줄이 생기지 않도록 설정합니다. */
.pagination__customized .pagination__link:hover {
    text-decoration: none !important;
}



/* ==========================================================================
    End of Pagination UI Customization
   ========================================================================== */