/* ====================================================================================================
   게시글 하단 페이지네이션 스타일링
   ==================================================================================================== */


.milestone {
  display: flex;
    
  width: 100%;
  margin: 1rem 0;
  gap: 0.25rem;

  border: none;

  flex-direction: column;


  .junction {
    overflow: hidden;

    display: block;

    min-width: 0;
    padding: 0.5rem 0.5rem;

    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;

    font-family: $sans-serif;
    font-size: $small-font-size;
    font-weight: $regular;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    
    color: $gray;

    /* "이전 글" 및 "다음 글" 글자 스타일링 */
    .milepost {
      margin-right: 0.5rem;

      font-weight: $bold;
      
      color: $blue;
    }

    &:hover {
      text-decoration: none;

      color: $black;
    }

    &:focus-visible {
      text-decoration: none;

      color: $black;
    }

    .disabled {
      text-decoration: none;

      color: $light-gray;

      opacity: 0.5;

      cursor: default;
      pointer-events: none;
    }
  }
}