/* ==========================================================================
   AUTHOR PROFILE CUSTOM SOCIAL ICON CUSTOMIZATION
   ========================================================================== */



/* Author Profile 내 커스텀 아이콘의 크기와 위치를 조절합니다. */
.sidebar {
    .link-icon {
        display: inline-block;
        width: 0.7rem;
        height: 0.7rem;
        vertical-align: -0.1rem;
    }
}



/* ==========================================================================
   END OF AUTHOR PROFILE CUSTOM SOCIAL ICON CUSTOMIZATION
   ========================================================================== */