/*
파일(File):
    - _sass/customs/_table-of-contents.scss

목적(Purpose):
    - 게시글 페이지 목차의 스타일을 정의합니다.

의존성(Dependencies):
    - _includes/customs/toc.html
*/


.table-of-contents {
    overflow: auto;
    max-height: calc(100vh - 3rem);
    padding: 0.25rem 0.5rem;
    margin: 0;
    border-left: 2px solid $light-gray;
    font-family: $sans-serif;
    font-weight: $regular;
    line-height: 1.5;

    .nav__title {
        display: block;
        padding: 0;
        margin: 0 0 0.25rem 0;
        font-size: $small-font-size;
        font-weight: $semibold;
        color: $black;

        &:hover {
            text-decoration: none !important;
            color: $blue;
        }
    }

    .toc__menu {
        a {
            display: block;
            padding: 0;
            border: none;
            font-size: $x-small-font-size;
            font-weight: $regular;
            color: $gray;

            &:hover {
                text-decoration: none !important;
                color: $black;
            }

            &:focus {
                outline: none;
            }

            &.active {
                color: $blue;
                transition: all 0.125s ease-in 0s;
            }
        }
    }

    ul {
        padding-left: 0.5rem;
        margin-bottom: 0.1rem;
        border: none;
        font-size: $x-small-font-size;
        font-weight: $regular;
        color: $gray;
    }

    ul li > a {
        margin-bottom: 0.1rem;
    }
}

.sidebar__right {
    margin-top: -8.5rem;

    &.sticky {
        top: 3rem;
    }
}

@media (max-width: 768px) {
    .sidebar__right {
        display: none;
    }
}