/* ==========================================================================
   목차 스타일링
   ========================================================================== */

.table-of-contents {
  overflow: auto;

  max-height: calc(100vh - 3rem);
  padding: 0.25rem 0.5rem;
  margin: 0;

  font-family: $sans-serif;
  font-weight: $regular;
  line-height: 1.5;

  border-left: 2px solid $light-gray;

  
  .nav__title {
    display: block;

    padding: 0;
    margin: 0 0 0.25rem 0;

    font-size: $small-font-size;
    font-weight: $semibold;

    color: $black;
  }


  .toc__menu {
    a {
      display: block;
      
      padding: 0;

      border: none;

      font-size: $x-small-font-size;
      font-weight: $regular;
   
      color: $gray;

      &:hover {
        text-decoration: none !important;

        color: $blue;
      }

      &.active {
        font-weight: $medium;
      
        color: $black;
      
        transition: all 0.125s ease-in 0s;
      }
    }
  }


  ul {
    padding: 0 0 0 0.5rem;
    margin: 0 0 0.1rem 0;
    
    border: none;
    
    font-size: $x-small-font-size;
    font-weight: $regular;
    
    color: $gray;
  }

  
  ul li > a {
    margin: 0 0 0.1rem 0;
  }
}