/* ====================================================================================================
   Minimal Mistakes 테마 변수 재정의 및 커스텀 변수 추가
   ==================================================================================================== */


/*
   Minimal Mistakes 테마 변수 재정의
   ==================================================================================================== */

/* 상단 네비게이션 바 폰트 스타일링 */
$navigation-font-family: "Galmuri11", "Pretendard", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

.masthead, .masthead__menu, .greedy-nav, .greedy-nav a {
  font-family: $navigation-font-family;
}


/* 블로그 전체 폰트 스타일링 */
$sans-serif: "Pretendard", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$serif: "Nanum Myeongjo", "Noto Serif KR", Georgia, Times, serif;
$monospace: "D2Coding", "Nanum Gothic Coding", "JetBrains Mono", Monaco, Consolas, "Lucida Console", monospace;


/* 블로그 기본 폰트 크기 */
$doc-font-size: 16px;


/* 헤더 폰트 크기 */
$h-size-1: 1.5rem;
$h-size-2: 1.25rem;
$h-size-3: 1rem;
$h-size-4: 0.8rem;
$h-size-5: 0.7rem;
$h-size-6: 0.7rem;


/* 블로그 너비 조절 */
$x-large: 1440px;


/* 게시글 너비 조절 */
$right-sidebar-width-narrow: 150px;  // default: 200px
$right-sidebar-width: 250px;  // default: 300px
$right-sidebar-width-wide: 300px;  // default: 400px



/*
   커스텀 변수 추가
   ==================================================================================================== */

/* 폰트 크기 조절 변수 추가 */
$xxx-large-font-size: 2rem;
$xx-large-font-size: 1.75rem;
$x-large-font-size: 1.5rem;
$large-font-size: 1.25rem;   
$standard-font-size: 1rem;
$small-font-size: 0.8rem;
$x-small-font-size: 0.7rem;
$xx-small-font-size: 0.6rem;
$xxx-small-font-size: 0.5rem;


/* 폰트 굵기 조절 변수 추가 */
$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;


/* 색상 변수 추가 */
$black: #0A0A0A;  // True Black: RGB(10, 10, 10)
$white: #F5F5F5;  // Tech White: RGB(245, 245, 245)
$gray: #808080;  // Gray: RGB(128, 128, 128)

$light-gray: #C0C0C0;  // Argent: RGB(192, 192, 192)
$extra-light-gray: #E0E0E0;  // Light Silver: RGB(224, 224, 224)

$red: #D0342C;  // Red Beauty: RGB(208, 52, 44)
$blue: #1338BE;  // Impact Blue: RGB(19, 56, 190)
$sky-blue: #87CEEB;  // Sky Blue: RGB(135, 206, 235)
$graphite: #41424C;  // Graphite: RGB(65, 66, 76)


/* 코드블럭 색상 변수 추가 */
$--vscode-editor-background: #1F1F1F;
$--vscode-editor-foreground: #CCCCCC;
$--vscode-editor-attributes : #9CDCFC;
$--vscode-editor-comment: #6A9955;
$--vscode-editor-constant: #4FC1FF;
$--vscode-editor-function: #DCDCAA;
$--vscode-editor-keyword: #569CD6;
$--vscode-editor-operator: #D4D4D4;
$--vscode-editor-property: #9CDCFC;
$--vscode-editor-string: #CC9178;
$--vscode-editor-tag: #569CD6;
$--vscode-editor-type: #4EC9B0;
$--vscode-editor-variable: #9CDCFC;
$--vscode-editor-variable-builtin: #DCDCAA;
$--vscode-editor-module: #4EC9B0;
$--vscode-editor-punctuation-bracket: #FFD700;
$--vscode-editor-punctuation-delimeter: #CCCCCC;
$--vscode-editor-punctuation-special: #DA70D6;
$--vscode-editor-error: #F85149;
$--vscode-editor-number: #B5CEA8;
$--vscode-editor-line-numbers: #6E7681;
$--vscode-editor-widget: #272727;
$--vscode-editor-widget-foreground: #AFAFAF;


/* 코드블럭 무지개 괄호 강조 효과 색상 변수 추가 */
$--bracket-depth-1: #FFD700;
$--bracket-depth-2: #DA70D6;
$--bracket-depth-3: #179FFF;
$--bracket-depth-4: #89D185;
$--bracket-depth-5: #EE9D28;
$--bracket-depth-6: #59A4F9;
$--bracket-depth-7: #B180D7;
$--bracket-depth-8: #2EA043;