{% comment %} 홈페이지의 대표 이미지를 렌더링합니다. {% endcomment %}


<section class="hero">
    <div class="hero_container">
        <div class="hero_teaser">
            <img class="hero_image" src="{{ '/assets/images/pages/home/minecraft_cold_frog.gif' | relative_url }}" width="300" height="225" alt="">
        </div>

        <div class="hero_content">
            {% if site.title %}
                <h1 class="hero_title">{{ site.title | escape_once }}</h1>
            {% endif %}

            {% if site.description %}
                <p class="hero_description">{{ site.description | escape_once }}</p>
            {% endif %}
        </div>
    </div>
</section>
