{%- comment -%}
파일(File):
    - _includes/customs/homepage/notice.html

역할(Role):
    - 블로그의 홈페이지에 대표 게시글 목록을 렌더링한다.

입력(Inputs):
    - include.columns (optional, int): 한 줄에 렌더링할 대표 게시글의 개수 (default: 5)
    - include.limit (optional, int): 렌더링할 대표 게시글의 최대 개수 (default: 15)

의존성(Dependencies):
    - _sass/customs/homepage/_notice.scss

참고사항(Notes):
    - 대표 게시글은 게시글의 프론트매터(Frontmatter)에 "notice: true"를 포함해야 한다.
{%- endcomment -%}

{%- assign columns = include.columns | default: 5 -%}
{%- assign limit = include.limit | default: 15 -%}

{%- comment -%} 게시글의 프론트매터(Frontmatter)에 "notice: true"가 명시된 게시글 필터링 {%- endcomment -%}
{%- assign notice = site.posts | where: "notice", true | slice: 0, limit -%}

{%- if notice.size > 0 -%}
<section class="notice">
    <h2 class="archive__title">대표 게시글</h2>

    <div class="notice__grid" style="--columns: {{ columns }};">
        {%- for post in notice -%}
            <div class="notice__item">
                <a class="notice__link" href="{{ post.url | relative_url }}">

                    <div class="notice__teaser">
                        {%- if post.header.teaser -%}
                            <img class="notice__image" src="{{ post.header.teaser | relative_url }}" alt="{{ post.title }}">
                        {%- else -%}
                            {%- comment -%} 티저 이미지가 없더라도 레이아웃을 유지하기 위한 빈 공간을 렌더링한다. {%- endcomment -%}
                            <span class="notice__teaser-placeholder" aria-hidden="true"></span>
                        {%- endif -%}
                    </div>

                    <div class="notice__body">
                        <h3 class="notice__title">{{ post.title }}</h3>

                        {%- if post.subtitle -%}
                            <p class="notice__subtitle">{{ post.subtitle | escape_once }}</p>
                        {%- else -%}
                            {%- comment -%} 부제목이 없더라도 레이아웃을 유지하기 위한 빈 공간을 렌더링한다. {%- endcomment -%}
                            <p class="notice__subtitle--empty" aria-hidden="true">&nbsp;</p>
                        {%- endif -%}

                        <date class="notice__date">{{ post.date | date: "%Y. %m. %d" }}</date>
                    </div>

                </a>
            </div>
        {%- endfor -%}
    </div>
</section>
{%- endif -%}