{%- comment -%} ====================================================================================================
파일(File):
  - _includes/customs/homepage/teaser.html

역할(Role):
  - 홈페이지에 티저 이미지를 렌더링합니다.

참고사항(Notes):
  - Minimal Mistakes 테마의 기본 index.html에서 호출하여 사용됩니다.
================================================================================================= {%- endcomment -%}

<div class="teaser">
  <a class="teaser__link" href="https://trail3r.github.io/">
    <img class="teaser__image" src="assets/images/homepage/teaser.png" alt="Blog homepage teaser image">
  </a>
</div>